<% layout("/layouts/boilerplate") %>

<h3 class="mb-4">All Listings</h3>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
  <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="stretched-link">
        <div class="card listing-card" style="width: 20rem;">
          <img
            src="<%= listing.image?.url || '/images/default.jpg' %>"
            class="card-img-top"
            alt="listing_image"
            style="height:20rem; object-fit: cover;"
          />
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">₹<%= listing.price %> /night</p>
          </div>
        </div>
      </a>
  <% } %>
</div>
